<!-- <p>customer-table works!</p> -->
<mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="search" #input>
</mat-form-field>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- id -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef=" let row let i=index"> {{i+1}} </td>
        </ng-container>




        <!-- ID Column -->
        <ng-container matColumnDef="Location_Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location_Id </th>
            <td mat-cell *matCellDef="let row"> {{row.Location_Id}} </td>
        </ng-container>

        <!-- <section>
            <div class="example-label">Basic</div>
            <div class="example-button-row">
              <button mat-button>Basic</button>
              <button mat-button color="primary">Primary</button>
              <button mat-button color="accent">Accent</button>
              <button mat-button color="warn">Warn</button>
              <button mat-button disabled>Disabled</button>
              <a mat-button href="https://www.google.com/" target="_blank">Link</a>
            </div>
          </section> -->


        <!-- Progress Column -->
        <ng-container matColumnDef="Location_Display_Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location_Display_Name </th>
            <td mat-cell *matCellDef="let row"> {{row.Location_Display_Name}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Search">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Search</th>
            <td mat-cell *matCellDef="let row"> {{row.Search}} </td>
        </ng-container>


        <!-- Fruit Column -->
        <ng-container matColumnDef="Street">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Street </th>
            <td mat-cell *matCellDef="let row"> {{row.Street}} </td>
        </ng-container>



        <ng-container matColumnDef="City">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
            <td mat-cell *matCellDef="let row"> {{row.City}} </td>
        </ng-container>



        <ng-container matColumnDef="State">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>State </th>
            <td mat-cell *matCellDef="let row"> {{row.State}} </td>
        </ng-container>



        <ng-container matColumnDef="Country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
            <td mat-cell *matCellDef="let row"> {{row.Country}} </td>
        </ng-container>



        <ng-container matColumnDef="Postalcode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Postalcode</th>
            <td mat-cell *matCellDef="let row"> {{row.Postalcode}} </td>
        </ng-container>



        <ng-container matColumnDef="Location_Title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location_Title </th>
            <td mat-cell *matCellDef="let row"> {{row.Location_Title}} </td>
        </ng-container>



        <ng-container matColumnDef="Location_Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location_Name </th>
            <td mat-cell *matCellDef="let row"> {{row.Location_Name}} </td>
        </ng-container>



        <ng-container matColumnDef="Location_Number">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location_Number </th>
            <td mat-cell *matCellDef="let row"> {{row.Location_Number}} </td>
        </ng-container>



        <ng-container matColumnDef="Location_Email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Location_Email </th>
            <td mat-cell *matCellDef="let row"> {{row.Location_Email}} </td>
        </ng-container>


        <!-- //button -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>action </th>
            <td mat-cell *matCellDef="let row"><button mat-icon-button color="primary" clas="edit">
                <mat-icon>edit</mat-icon>
            </button>
                <button mat-icon-button color="warn" (click)="delete(row)" class="delete">
                <mat-icon>delete</mat-icon>
            </button>
            </td>

        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>



<!-- update code -->


<div class="container">
    <form class="row g-3" [formGroup]="form" (ngSubmit)="update()">
        <div class="col-md-6">
            <div class="form-group mt-5">
                <input type=" text " class="form-control " placeholder="Location Id " formControlName="Location_Id">
            </div>
            <div class="form-group mt-5 ">
                <input type="text " class="form-control " placeholder="Location Display Name " formControlName="Location_Display_Name">
            </div>

            <div class="heading mt-5 ">
                <h1>Address Details</h1>
            </div>
            <div class="form-group mt-5 ">
                <input type="text " class="form-control " placeholder="search Address " formControlName="Search">
            </div>
            <div class="row ">
                <div class="col mt-5 ">
                    <input type="text " class="form-control " placeholder="Street " formControlName="Street">
                </div>
                <div class="col mt-5 ">
                    <input type="text " class="form-control " placeholder="City " formControlName="City">
                </div>
            </div>
            <div class="row ">
                <div class="col mt-5 ">
                    <input type="text " class="form-control " placeholder="State " formControlName="State">
                </div>
                <div class="col mt-5 ">
                    <input type="text " class="form-control " placeholder="Country " formControlName="Country">
                </div>
            </div>
            <div class="col mt-5 ">
                <input type="text " class="form-control " placeholder="Postalcode " formControlName="Postalcode">
            </div>
            <div class="col-12 mt-5 ">
                <button type="reset" class="btn btn-outline-secondary ">cancel</button>&nbsp;
                <button type="submit " class="btn btn-success " (click)="update()">submit</button>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="form-group mt-5 ">
                <input type="text " class="form-control " placeholder="Location Contact Title " formControlName="Location_Title">
            </div>
            <div class="form-group mt-5 ">
                <input type="text " class="form-control " placeholder="Location Contact Name " formControlName="Location_Name">
            </div>
            <div class="row ">
                <div class="col mt-5 ">
                    <div class="input-group mt-2 ">
                        <button class="btn btn-outline-secondary dropdown-toggle " type="input " data-bs-toggle="dropdown " aria-expanded="false ">+1USA<Code></Code></button>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item " href=" ">Action</a></li>
                            <li><a class="dropdown-item " href=" ">Another action</a></li>
                            <li><a class="dropdown-item " href=" ">Something else here</a></li>
                        </ul>
                        <input type="number " class="form-control " placeholder="Location Contact Number " formControlName="Location_Number">
                    </div>
                </div>
            </div>
            <div class="form-group mt-5 ">
                <input type="text " class="form-control " placeholder="Location Contact Email " formControlName="Location_Email">
            </div>
        </div>
    </form>
</div>